extends layout

title Login

block content
	div.container(style="margin-top:20px")
		h4 You must login
		div.col-xs-12.main
			form(method='POST')
				label.item.item-input
					input(type='text', name='user')#username
				button.button.button-positive#login Login
block scripts
	include scripts
	script(src='/login.js')