extends layout

title Login

block content
	div.container(style="margin-top:20px")
		h4 Enter your name
		div.col-xs-12.main
			form(method='POST')
				input(type='text', name='user')#username
				input(type='submit', value='Login').btn.btn-primary#login
block scripts
	include scripts
	script(src='/login.js')