script(src='/vendor/jquery/jquery.min.js')
script(src='/vendor/jquery/jquery.json-2.2.min.js')
script(src='/vendor/jquery/jquery.form.js')
script(src='/vendor/bootstrap/js/bootstrap.min.js')
script(src='/home.js')